<h1>Editing cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Show this cliente", @cliente , class: "button"%> 
  <%= link_to "Back to clientes", clientes_path, class: "button"%>
</div>
