<h1>Editing bebida</h1>

<%= render "form", bebida: @bebida %>

<br>

<div>
  <%= link_to "Mostrar la bebida", @bebida, class: "button" %> 
  <%= link_to "Volver a la bebida", bebidas_path, class: "button" %>
</div>