<div id="<%= dom_id(linea_pedido) %>" class="table-container">
  <table>
    <tr>
      <th>Id pedido:</th>
      <td><%= linea_pedido.id_pedido %></td>
    </tr>
    <tr>
      <th>Id bebida:</th>
      <td><%= linea_pedido.id_bebida %></td>
    </tr>
    <tr>
      <th>Cantidad:</th>
      <td><%= linea_pedido.cantidad %></td>
    </tr>
  </table>
</div>
