<h1>Editing linea pedido</h1>

<%= render "form", linea_pedido: @linea_pedido %>

<br>

<div>
  <%= link_to "Show this linea pedido", @linea_pedido, class: "button" %> 
  <%= link_to "Back to linea pedidos", linea_pedidos_path, class: "button" %>
</div>
