<h1>Editing refresco</h1>

<%= render "form", refresco: @refresco %>

<br>

<div>
  <%= link_to "Show this refresco", @refresco, class: "button" %> 
  <%= link_to "Back to refrescos", refrescos_path , class: "button"%>
</div>
