<div id="<%= dom_id(alcohol) %>" class="table-container">
  <table>
    <tr>
      <th>Nombre:</th>
      <td><%= alcohol.nombre %></td>
    </tr>
    <tr>
      <th>Grado:</th>
      <td><%= alcohol.grado %></td>
    </tr>
  </table>
</div>
