<h1>Editing alcohol</h1>

<%= render "form", alcohol: @alcohol %>

<br>

<div>
  <%= link_to "Show this alcohol", @alcohol , class: "button"%> 
  <%= link_to "Back to alcohols", alcohols_path, class: "button" %>
</div>
